* {


    border: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}



.barra-navegacion {

    background-image: url('imagenes/reflejo5.jpg');
    /* Cambia 'tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen dentro de la barra */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    padding: 15px;
    display: flex;
    /* Para alinear los elementos en una fila */
    justify-content: space-around;
    /* Distribuye los elementos */
}

.barra-navegacion img {
    max-width: 100%;
}

.barra-navegacion ul {
    list-style-type: none;
    /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 0px;
    justify-content: space-evenly;
}

.barra-navegacion li {
    flex: 1;

    /*  Permite que cada elemento use el espacio disponible */
    border: 1px solid black;
    padding: 40px;

    color: black;
    font-size: 30px;
    display: flex;
    /* Activa flexbox en el elemento <li> */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 60px;
    text-align: center;
}

.iniciosesion {
    border: 1px solid black;
    border-radius: 30px;
    background-color: #01B1E1;
}

.barra-navegacion a {
    text-decoration: none;
    color: white;
    /* Color del texto */
    font-size: 1.2rem;
    padding: 10px 20px;
    background: transparent;
    /* Elimina cualquier color de fondo */
}

.barra-navegacion a:hover {
    color: #ffcc00;
    /* Cambia el color del texto al pasar el ratón */
    background: rgba(0, 0, 0, 0.2);
    /* Añade un fondo translúcido al hacer hover */
}
.portada {
    background-image: url('imagenes/fondoblanco3.jpg');
    /* Cambia 'tu-imagen.jpg' por la ruta de tu imagen */
    background-size: cover;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen dentro de la barra */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    padding: 15px;
    display: flex;
    /* Para alinear los elementos en una fila */
    justify-content: space-around;
    /* Distribuye los elementos */

    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 700px;
    width: 100%;
    flex:1;
  
    .portadaparte1 {
        border: 1px solid black;
        max-width: 40%;
        max-height: 100%;
        p {
            text-align: start;
            max-height: 100%;
        }
        button{
            background-color: #3DC3E8;
            color: white;
            padding: 15px;
            margin: 15px;
            border-radius: 30px;
        }


        .portadaparte1titulo {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 4vw;
            color:  #34C3EE;
        }

        .portadaparte1titulo2 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 2vw;
        }

        .portadaparte1titulo3 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1vw;
        }
        
    }

    .portadaparte1 img {
        max-width: 100%;
    }

}

.introduccion {
    margin: 00px;
    padding: 0px;
   background-color: #152157;
 
    h2 {
        margin: 0px;
        color: #34C3EE;
        font-size: 3rem;
        text-align: center;
       background-color: white;
    }

    /*PArte de la imagen e introduccion de la programacion funcional*/
    .introimagen {

        display: grid;
        /* Activa Grid */
        grid-template-columns: auto 1fr;
        /* La primera columna se adapta al tamaño del logo, la segunda ocupa el espacio restante */
        align-items: center;
        /* Centra verticalmente los elementos */
        padding: 20px;

        gap: 5px;
        /* Espacio entre logo y título */
        background-color: #ffff81;

        img {
            margin: 0px;
            max-width: 400px;
            height: auto;
            border-radius: 100%;
        }

        p {
            margin: 0px;
            color: black;
            font-size: 2rem;
            text-align: justify;
            background-color: #ffff81;
        }
    }

    /*ANIMACION*/
    .terminologia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 20px;

        .card {

          
            color:#00AEC9;
            position: relative;
            overflow: hidden;
            /*Controla qué ocurre cuando el contenido de un elemento se desborda fuera del área asignada.*/

            display: flex;
            justify-content: center;
            /*Alinea los elementos hijos a lo largo del eje principal (horizontal)*/
            align-items: center;
            /*Alinea los elementos hijos a lo largo del eje transversal(vertical)*/
            font-size: 24px;
            text-align: center;
            /* Controla la alineación horizontal del texto dentro de un elemento.*/
            cursor: pointer;
            /*Cambia la apariencia del cursor cuando pasa sobre un elemento.*/
        }

    }

    .card .content {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.8s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .term {
       font-weight: 900;
        background-image: url(/imagenes/fondoblanco3.avif);
    }

    .card .description {
        padding: 15px;
        color:white;
        background-image: url(/imagenes/reflejo5.jpg);
        transform: translateX(100%);
        text-align: justify;
    }

    /*FIN DE LA ANIMACION*/


}
    /* Estilos para el contenedor principal */
    .contenedor-tarjetas {
        display: flex; /* Distribuye los hijos en línea horizontal */
        justify-content: space-between; /* Espacio uniforme entre las tarjetas */
        align-items: stretch; /* Estira las tarjetas al mismo alto */
        gap: 20px; /* Espacio entre las tarjetas */
        padding: 20px;
        max-width: 1500px; /* Ajuste al tamaño del contenedor */
        margin: 0 auto;
      }
  
      /* Estilos para cada tarjeta */
      .tarjeta {
        background-color: #0d5466;
        color: white;
        width: 23%; /* Cada tarjeta ocupará el 23% del ancho del contenedor */
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
      }
  
      /* Estilos para la imagen dentro de la tarjeta */
      .tarjeta img {
        max-width: 100px;
        margin: 0 auto 20px auto;
      }
  
      /* Botón dentro de la tarjeta */
      .tarjeta button {
        background-color: #00a88d;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }

/*INICIO DEL DISEÑO DE ARBOLES*/
.arbol {
    margin: 10px;
    padding: 20px;
    background-color: #ffff81;

    * {
        background-color: #ffff81;
    }

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    nav {

        padding: 10px;

        p {
            font-size: 2rem;
            text-align: justify;
        }

        ul {
            font-size: 2rem;
        }
    }

    .imagenes {
        padding: 0px;
        display: flex;
        max-width: 100%;
        height: 350px;
        overflow: auto;

    }


    table {

        width: 100%;
        /* La tabla usa el 100% del ancho del contenedor */
        table-layout: fixed;
        /* Fuerza que las celdas se ajusten dentro de la tabla */
        border-collapse: collapse;
        /* Evita el espacio entre bordes */
        margin: 0 auto;
        border: 2px solid #333;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        font-size: 2rem;

        .elemento {
            font-weight: bold;
        }
    }

    th {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
    }

    td {
        background-color: #f9f9f9;
        padding: 10px;
    }

    tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
        background-color: white;
    }

    th,
    td {
        border: 1px solid #999;
        text-align: justify;
        word-wrap: break-word;
        /* Permite que el texto se ajuste dentro de las celdas */
    }

    .niveles {

        .nivelesparte1 {
            padding: 0px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            /* Permite que los elementos se reorganicen si es necesario */
        }

        img {
            max-height: 100%;
            /* Limita el alto de la imagen para que no sea más grande que el texto */
            height: auto;
            /* Mantiene la proporción de la imagen */
            max-width: 100%;
            /* Asegura que la imagen nunca exceda el ancho del contenedor */
            margin: 0 auto;
        }
    }

    .recorrido {

        /* Contenedor de las tarjetas */
        .tarjetas {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            max-width: 100%;
            padding: 20px;
        }

        /* Estilos generales de la tarjeta */
        .tarjeta {
            background-color: #ED6D7F;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            width: 30%;
            /* Cada tarjeta ocupa el 30% del contenedor */
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .tarjeta:hover {
            background-color: #e0e0e0;
        }

        /* Ocultar las imágenes por defecto */
        .imagen-recorrido {
            max-width: 100%;
            height: auto;
            display: none;
            /* Las imágenes están ocultas al inicio */
        }

        /* Estilo del término y significado */
        .termino {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }

        .significado {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .termino,
        .significado,
        .contenido {
            background-color: #F4F1C1;
        }
    }


}

.evaluacionperezosa {
    margin: 10px;
    padding: 20px;
    background-color: #ffff81;

    * {
        background-color: #ffff81;
    }

    .evaluacionperezosaparte1 {
        padding: 10px;

        h2 {
            text-align: center;
            font-size: 2rem;
        }

        p,
        ul {
            font-size: 2rem;
            text-align: justify;
        }

    }
}